
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
      <h1 class="main-title">
        </i>On-Air(β)
      </h1>
      <div class="request_message_box">
        <p class="request_message">Thank you for your request :)</p>
      </div>
      <div class="form-wrap">
        <%= render :partial => "common/form"%>
      </div>
      <div class="yt-set clearfix">
        <div id="player"></div>
        <div class="controll-box">
          <div id="start">
            <i class="fa fa-play fa-4x" style="color: white; margin-top: 21px;"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  var player;

  function onYouTubeIframeAPIReady(){
    player = new YT.Player('player', {
      height: 200,
      width: 350,
      events: {
        onStateChange: onPlayerStateChange
      }
    });

    $(document).on('click', 'div#start', function(){
      var randnum = Math.floor( Math.random() * <%= @all_count %> );
      ary = <%= @impressions.to_json.html_safe %>
      player.loadVideoById(ary[randnum]);
    });
  }

  function onPlayerStateChange(e) {
    if (e.data == YT.PlayerState.ENDED) {
      $('#start').trigger('click');
    }
  }
</script>
<!-- 再生が始まるのをイベントとして、赤いボタンの属性に -->



